/*top*/
.top-wrapper {
  background-color: ivory;
  height: 50vh;
  width: 100vw;
}

.top-wrapper h1 {
  padding-left: 20px;
  padding-top: 20px;
}

.header {
  background-color: pink;
  height: 10vh;
  width: 100vw;
}

/*body/main*/
.site-main {
  background-color: beige;
  height: 30vh;
  width: 100vw;

}
