/*top section*/

.top-wrapper {
  background-color: ivory;
  height: 80vh;
  width: 100vw;
  background-image: url(/img/cafe-cappuccino.jpg);
  background-size: cover;
}

.top-wrapper ul {
  padding-left: 20px;
  padding-top: 20px;
}

.header {
  background-color: pink;
  float:left;
  height: 10vh;
  width: 100vw;
}

.header ul {
  /*background-color: blue;*/
  display: flex;
  /*float: right;*/
  /*height: 10vh;*/
  /*width: 500px;*/
}

.header li {
  padding-right: 50px;
}

.header h1 {
  background-color: red;
  padding-left: 20px;
  padding-right: 58vw;
}

.title h1 {

}

/*.primary-nav {
  height: 5vh;
  background-color: yellow;
}*/


/*body/main section*/

.site-main {
  background-color: beige;
  height: 30vh;
  width: 100vw;
}
