/*top section*/
.top-wrapper {
  background-color: ivory;
  background-image: url(/img/cafe-cappuccino.jpg);
  background-size: cover;
  font-family: sans-serif;
  height: 80vh;
  width: 100vw;
}

.nav {
  background-color: pink;
  height: 45px;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
}

.nav li {
  display: block;
  float: right;
  padding: 14px 16px;
  /*background-color: red;*/
}

#title {
  background-color: yellow;
  float: left;
}



/*body/main section*/

.main1 p {
  font-size: 24px;
  font-family: sans-serif;
  padding: 10px 50px;

}
.main2 p {
  font-size: 24px;
  font-family: sans-serif;
  padding: 10px 50px;
}

.site-main {
  background-color: beige;
  height: 40vh;
  width: 100vw;
}

.main1 {
  background-color: pink;
  height: 30vh;
  width: 50vw;
  float:left;

}

.main2 {
  background-color: lightblue;
  height: 30vh;
  width: 50vw;
  float:right;
}
